  <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Name');
        data.addColumn('number', 'count');
        data.addRows([
          ['Result', <%=@result.size%>],
          ['Other', <%=Tweet.count-@result.size%>]
          
        ]);

        // Set chart options
        var options = {'title':'Tweets You search %',
                       'width':400,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>



<div class = narbar>
      <ul>
        <a href="/admin/signout">SignOut</a>
      </ul>
</div>

<header>
 <nav id="nav">
   <h1>Result</h1>
 </nav>
 </header>

   

<div class="mainContent">
     <div class="blogitem">
         <table border="3" width="500">
            <tr>
              <th>Tweet</th>
              <th>From</th>
              <th>Content</th>
            </tr>
          
            <% @result.each do |t| %>
            <tr>
                  <td> <%=t.id%></td>
                  <td> <%=t.user_id%></td>
                  <td> <%=t.content%></td>
            </tr>  
            <%end%>
          </table>
          <div id="chart_div"></div>
          <li><%= link_to "Back" , '/admin/manage/1', method: 'get' %></li>
    </div>
 </div>

