<%= form_tag "/users/#{@user.id}", method: 'patch' do %>

  <p>
    <%= label_tag "password" %>
    <%= text_field_tag "password" %>
  </p>
  <p>
    <%= label_tag "name" %>
    <%= text_field_tag "name" %>
  </p>
  <p>
    <%= label_tag "account" %>
    <%= text_field_tag "account" %>
  </p>
  <p>
      <%= submit_tag %>
  </p>
<% end %>
