<h2>Sign Up</h2>


<%= form_tag "/users" do %>

  <p>
    <%= label_tag "account" %>
    <%= text_field_tag "account", @user.account, autofocus: true %>
  </p>

  <p>
    <%= label_tag "password" %>
    <%= password_field_tag "password", @user.password %>
  </p>

   <p>
    <%= label_tag "name" %>
    <%= text_field_tag "name", @user.name %>
  </p>
  <ul>
    
    <%= radio_button_tag(:gender, "male") %>
    <%= label_tag(:gender, "male") %>
    <%= radio_button_tag(:gender, "female") %>
    <%= label_tag(:gender, "female") %>
  </ul>

  <p>
      <%= submit_tag "Sign Me Up", class: 'button' %>

      or

      <%= link_to "Cancel", "/" %>
  </p>

<% end %>
